body{
    background: url(../image/adrian-korte-5gn2soeAc40-unsplash.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}
.display-div{
   display: flex;
    
}

.button{
    display: flex;
}

.delete-btn{
    border-color: red;
    color: red;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: large;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.delete-btn:hover{
    background-color: red;
    color: white;
}

.delete-btn:active{
    background-color: aquamarine;
    color: black;
    border: none;
}

.add-btn{
    padding: 13px;
    border-color: green;
    color: green;
    cursor: pointer;
}

.add-btn:hover{
    background-color: green;
    color: white;
}

.add-btn:active{
    background-color: aquamarine;
    color: black;
    border: none;
}

.to-do-input{
    padding: 10px;
}

.to-do-date{
    padding: 10px;
}

.completed{
    text-decoration: line-through;
   
    
}

.check-btn{
    border-color: rgb(60, 60, 1);
    color: rgb(60, 60, 1);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: large;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.check-btn:hover{
    background-color: rgb(60, 60, 1);
    color: white;
}

.check-btn:active{
    background-color: antiquewhite;
    border: none;
    color: black;
}