body{
    background-color: bisque;
    
}
.display-div{
    display: flex;
    
}

.button{
    display: flex;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: large;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.add-btn{
    padding: 13px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}

.to-do-input{
    padding: 10px;
}

.to-do-date{
    padding: 10px;
}

.completed{
    text-decoration: line-through;
    
}